<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>Our Agents</h4><br>
			</div>
		</div>
	<div class="row">
		<div class="about-container center">
		<div class="col-lg-3 hidden-sm hidden-xs">

				<div class="client-image-container">
					<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div><br>
		<span class="about-name">Vija Williams</span></div>

			<div class="col-lg-3 hidden-sm hidden-xs">

					<div class="client-image-container">
						<img src="{{site.data.settings.images.client_headshot_path2 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
				</div><br>
			<span class="about-name">Ben Kinney</span></div>

				<div class="col-lg-3 hidden-sm hidden-xs">

						<div class="client-image-container">
							<img src="{{site.data.settings.images.client_headshot_path3 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
					</div><br>
				<span class="about-name">Christi Webster</span></div>

	</div>
</div>
</div>
